@model Buffet.ViewModel.Home.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

@ViewBag.InformacaoQualquer
@ViewData["informacao"]

@Model.InformacaoQualquer
@Model.Titulo



<div class="text-center">
    <h1>Boas Vindas</h1>
</div>


